@model mikolo.Mouvement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mouvement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMouvement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMouvement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sortie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sortie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLaptopNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLaptopNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
